{% extends 'biblioteca/base.html' %}
{% block ac3 %}active{% endblock %}
{% block titulo %}Libro{% endblock %}
  {% block content %}
  <h1>Libro <a href="{% url 'libro_nuevo' %}" rel="tooltip" data-original-title="Agregar" class="btn btn-success "><i class="icon-plus"></i></a></h1>
  <hr>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
          <h5>Información del libro</h5>
        </div>
        <div class="widget-content nopadding">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
               <th>Categoria de Libro</th>
                <th>Título</th>
                <th>Editorial</th> 
                <th>Autores</th>                 
                <th>Fecha Publicacion</th>     
                <th>Total de Unidades</th>
                <th>Precio de Prestamo</th>            
                <th>Imagen</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
             {% for l in libro %}
                <tr>
                  <td>{{ l.categoria }}</td>
                  <td>{{ l.titulo }}</td>
                  <td>{{ l.editoria }}</td>
                  
                  <td> {% for a in l.autor.all %}
                     {{ a.nombre }},{{a.apellido}}{% if not forloop.last %}.  {% endif %}
                    {% endfor%} </td>


                  <td>{{ l.publicacion }}</td>
                  <td>{{ l.unidad}}</td>               
                  <td>Q{{l.precio}}</td>

                  <td>
                    {% if l.image %}
                        <img class="img-fluid" width="100" height="75" src="{{l.image.url}}">
                     {% endif %}         
                      </td>
                  <td>
                 <a href="{% url 'libro_remove' pk=l.pk %}" rel="tooltip"  class="btn btn-info btn-simple btn-xs" data-original-title="Detalles" > 
                      <i class="icon-exclamation-sign"></i>
                    </a>
                    <a href="{% url 'libro_editar' pk=l.pk %}" rel="tooltip" class="btn btn-warning btn-simple btn-xs" data-original-title="Editar"> 
                      <i class="icon-edit"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </div>
  </div>
  {% endblock content %}
