{% extends 'biblioteca/base.html' %}
{% block ac1 %}active{% endblock %}
{% block titulo %} Pais {% endblock %}

  {% block content %}
  <h1>Pais<a href="{% url 'pais_nuevo' %}" rel="tooltip" data-original-title="Agregar" class="btn btn-success "><i class="icon-plus"></i></a></h1>
  <hr>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
          <h5>Pais</h5>
        </div>
        <div class="widget-content nopadding">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Nombre </th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              {% for p in pais %}
                <tr>
                  <td>{{ p.nombre }}</td>
                  <td>
                 <a href="{% url 'pais_show' pk=p.pk %}" rel="tooltip"  class="btn btn-info btn-simple btn-xs" data-original-title="Detalles" > 
                      <i class="icon-exclamation-sign"></i>
                    </a>
                    <a href="{% url 'pais_editar' pk=p.pk %}" rel="tooltip" class="btn btn-warning btn-simple btn-xs" data-original-title="Editar"> 
                      <i class="icon-edit"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody> 
          </table>
        </div>
      </div>
  </div>
  </div>
  {% endblock content %}
